.bgimage{
    background: url('https://nikearprod.vtexassets.com/assets/vtex.file-manager-graphql/images/c61bf42d-b036-400c-8538-ed1c72e125e9___5e3dddc8690d43aac9920f01b23e470a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.bgimagePh{
    background: url('https://nikearprod.vtexassets.com/assets/vtex.file-manager-graphql/images/aff4ca04-db80-474f-9484-5be85a449432___ae2de699edd8a70ce01bf00af4e9f3c1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}