/* You can add global styles to this file, and also import other style files */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
.bgimage{
    background: url('/image/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.bgimage2{
    background: url('/image/nikebg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.bgimage3{
    background: url('/image/bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
